.logo{
    position: relative;
    width: 240px;
    height: 150px;
    &-bg{
        position: absolute;
        width: 100%;
        z-index: -10;
    }
    &-icon{
        position: absolute;
        width: 42px;
        top: 18px;
        left: 85px;
    }
    &-text{
        position: absolute;
        top: 23px;
        left: 25px;
        font-family: Shabnam-FD;
        font-size: 20px;
        font-weight: bold;
        color: #007f62;
    }
    &-wave{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right:1300px;
    }

}

.h2-text{
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #007f62;
}
.underline-text{
    width: 40px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #00a680;
    margin-top: 3px;
}
.header-p{
    font-size: 14px;
    font-family: Shabnam-FD;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    margin-top: 8px;
}
.travel{
    position: relative;
    height: 50vh;
    margin-top: 20px;
    
    &-bg{
        position: absolute;
        width: 90%;
    }
    &-pic{
        position: absolute;
        height: 50vh;
        top: 50%;
        right: 50%;
        transform: translate(+50% , -60%);
    }
    &-bird{
        position: absolute;
    }
}
.header-2{
    background-color: #f1f5ef7a;
}
.wave{
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    &-pic1{
        animation: animate 30s linear infinite;
        height: 80%;
        z-index: 2;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    &-pic2{
        animation: animate2 15s linear infinite;
        z-index: 1;
       
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }
}
.wavee{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: url("./assets/011_bg_wave.svg");
    background-size: 150rem 20rem;    
}
.icon{
    display: flex;
    justify-content: space-between;
    &-br{
        position: relative;
        width: 60px;
        height: 60px;
        border: solid 1px #007f62;
        border-radius: 200px;
        background-color: #ffffff;   
        &:hover{
            background-color: #cc1c1c;
        }
        &-pic{
            font-size: 30px;
            position: absolute;
            top:50%;
            right: 50%;
            transform: translate(50%,-50%);
            border-width: 1px;
            color: #007f62;
            &:hover{
                color: #ffffff;
            }
        }
    }
}
.mobile{
    position: relative;
    height: 70vh;
    margin: 10px 0;
    &-bg{
        height: 100%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(+50%,-50%);
    }
    &-img{
        height: 100%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(+50%,-50%);

    }
}
.p-hotel{
    margin: auto auto;
}
.khat{
    position: absolute;
    width: 2px;
    height: 480px;
    background-color: #007f61d8;
    top: 0;
    right: 43px;
}
.download-boxx{
    background-color: #f7f3f396;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    border-radius: 10px;
}
.download-icon{
    width: 150px;
    height: 200px;
}
.input-num{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #014233bd;
    background-color: #fafafa;
    outline: none;
}
.input-num::placeholder{
    text-align: center;
}
.back-img{
    background-image: url(../assets/022_bg_amadegisafar.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 100px 0 ;
    background-color: #04382c;
}
.scrol-img{ 
    overflow-x: scroll;
    overflow-x: hidden;
    white-space:nowrap; 
}
.place-img{
    display: inline-block;
    width: 170px;
    height: 130px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow:  0 10px 20px rgba(0,0,0,0.19);
    margin: 25px 15px;
    
}
.place-img-ii{
    max-height: 100%;
}
.input-height{
    height: 100px;
    width: auto;
}