.nav-linkSass{
    color: #252525;
    font-family: Shabnam;
    margin-right: 20px;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    font-weight: 300;
}
.nav-item{
    margin-right: 64px;
}
.navbar-box{
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
}