.nav-linkSass{
    color: #252525;
    font-family: Shabnam;
    margin-right: 20px;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    font-weight: 300;
}
.nav-item{
    margin-right: 64px;
}
.navbar-box{
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
}
.main-navigation {
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
}
.search-ico{
    width: 24px;
    height: 25px;
    background-image: none;
}
.search-icon{
    width: 100%;
}
.navi-text{
    font-family: Shabnam-FD;
    font-size: 20px;
    font-weight: bold;
    color: #007f62;
}